{% extends "quiz/base.html" %}

{% block title %} {% endblock %}
        {% block style %}
        *:focus {
                        outline: 0 !important;
                }
        {% endblock %}

        {% block body_block %}
                {% for i in question %}
	                {% if i.course|stringformat:"s" == current_quiz %}
                                <div class="container-fluid" >
		                <div class="modal-dialog" style="margin-left: 200px;">
			        <div class="modal-content" style="width: 900px;">
				<div class="modal-header btn-dark" style="height: 57px;">
				<h5>Q. {{ i.questions }}</h5>
				</div>
				<div class="modal-body jumbotron" >
				<div class="col-xs-3 5"> </div>
				<div class="quiz" id="quiz" data-toggle="buttons">
				{% if i.Add_only_Textfield == True %}
				        <textarea class="form-control" name='text' id="exampleFormControlTextarea1" rows="5"></textarea>
				{% else %}
					<label class="element-animation1 btn btn-lg btn-light btn-block">
					<span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
					<input type="radio" name="q_answer" value="1"> {{i.choice1}}</label>
					<label class="element-animation2 btn btn-lg btn-light btn-block">
					<span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
					<input type="radio" name="q_answer" value="2"> {{i.choice2}}</label>
				{% if i.choice3 != "" %}
					<label class="element-animation3 btn btn-lg btn-light btn-block">
					<span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
					<input type="radio" name="q_answer" value="3"> {{i.choice3}}</label>
				{% endif %}
				{% if i.choice4 != "" %}
					<label class="element-animation4 btn btn-lg btn-light btn-block">
					<span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
					<input type="radio" name="q_answer" value="4"> {{i.choice4}} </label>
				{% endif %}
				</div>
			        {% endif %}
				</div>
			</div>
		        </div>
	        </div>
{% endif %}

{% endfor %}
	<a href="#" style="margin:45%;"> <button type="button" class="btn btn-primary" onclick="myFunction()">Submit Answer</button> </a>
	<div id="check" style="display:none;">
	<h2 style="margin-left:39%;">Answers!</h2>
<div class="jumbotron" style="height:20px;">
		{% for i in question %}
	{% if i.course|stringformat:"s" == current_quiz %}
			{% if i.answer|stringformat:"s" == "Option1" %}
				<span> {{ forloop.counter }}.) {{i.choice1}}</span>
			{% endif %}
			{% if i.answer|stringformat:"s" == "Option2" %}
				<span> {{ forloop.counter }}.) {{i.choice2}} </span>
			{% endif %}
			{% if i.answer|stringformat:"s" == "Option3" %}
				<span> {{ forloop.counter }}.) {{i.choice3}}</span>
			{% endif %}
			{% if i.answer|stringformat:"s" == "Option4" %}
				<span> {{ forloop.counter }}.) {{i.choice4}}</span>
			{% endif %}
			&nbsp;&nbsp;{% endif %}
		{% endfor %}

	</div>
</div>
		<script>
		function myFunction() {
			document.getElementById("check").style.display="";

		}
		</script>
{% endblock %}
{% block footer_block %}
<section id="footer" style="margin-top:80px;" class="bg-dark">
	<p>Copyright &copy; Quiz World!
	  <br>
	  <a href="mailto:dshah0405@gmail.com">Email</a> | Developed with ❤ by <a href="https://www.linkedin.com/in/deep3072/" target="_blank"> Deep Shah</a>
	</p>
  </section>
{% endblock %}
