{% extends "quiz/base.html" %}
{% block title %} {% endblock %}

{% block body_block %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
	<strong>Hello {{ user.username }}!</strong> Note that you can attempt quiz only once.
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	</button>
	  </div>
	{% for i in quiz_name %}
	        <div class="container" style="margin-top: 100px; margin-left:200px;">
	        <div class="card-deck " style="width:800px;">
		<div class="card jumbotron" style="height:220px; " >
		<div class="card-block " >
		<div style="margin-left:550px; margin-bottom:-27px;">Added : {{ i.date_added }} </div>
		<h4 class="card-title"> {{ i.course_name }}</h4>
		<p class="card-text">Here we can give some small note related to every specific quiz.
                </p>
		<a href="/quiz/quiz_world/{{i.course_name}}" style="margin:39%;"> <button type="button" class="btn btn-primary">Attempt Quiz</button> </a>

		</div>
		</div>
			</div>
			</div>
                <br> <br>
	{% endfor %}
        <section id="footer" style="margin-top:80px;" class="bg-dark">
	<p>Copyright &copy; Quiz World!
	 <br>
	 <a href="mailto:dshah0405@gmail.com">Email</a> | Developed with ❤ by <a href="https://www.linkedin.com/in/deep3072/" target="_blank"> Deep Shah</a>
	</p>
        </section>
{% endblock %}